.card__pig{
    margin-top: 2rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--card-color-white);
    width: 380px;
    border-radius: 1rem;
}

.pig-img{
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.form__input_date{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form__input_date, .form__input_money > label{
    font-size: 1.2rem;
}

.form__input_date > input{
    height: 30px;
    border-radius: 6px;
    
    border: 1px solid gray;
    padding: 0.8rem;
}

.form__input_money{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.form__input_money > input {
    height: 30px;
    border-radius: 6px;
    
    border: 1px solid gray;
    padding: 0.8rem;
}


/* BTN GUARDAR */
.form__input_btn_submit {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}


.form__input_btn_submit > button{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #307750;
    border: none;
    border-radius: 12px;
    padding: 4px  14px;
    font-size: 1.2rem;
    color: var(--text-saldo);
}

.saldo-total{
    margin-top: 1.4rem;
    padding: 0.8rem;
    border-radius: 4px;
    color: var(--card-color-white);
    width: 250px;
    color: var(--text-text);
    font-size: 12px;
}

#saldoTotal {
    color: #307750;
}

.saldo-total > h2{
    font-weight: 400;
}