@import url("/css/card_pig.css");
@import url("/css/buttons.css");
@import url("/css/card_relatorio.css");

/* Reset */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: josefin sans;
}


:root{
    --body-color: #e298b1;
    --text-input: #313131;
    --text-text: #000000;
    --text-saldo: #ffff;
    --card-color-relatorio: #e99fb2;
    --card-color-white: #f5f5f5;
    --btn-input-color: #54981f;
    --saldo-total-color:#4A8456;
}

*{
    list-style: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body{
    background-color: var(--body-color);
}

header{
    padding-top: 1.6rem;
    width: 100%;

}
.text__header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;    
}

.text__header p{
    width: 80%;
}


/* TELAS PEQUENAS PEQUENAS*/
@media only screen and (max-width: 767px) {

}
  
/* TELAS MÉDIAS */
@media only screen and (min-width: 768px) and (max-width: 991px) {
   
}
  
  
/* TELAS MÉDIAS */
@media(min-width: 992px) {
    header{
        display: flex;
        justify-content: center; 
        font-weight: 500;
    }

    .text__header > p {
        font-size: 1.1rem;
        max-width: 520px;
    }
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    footer{
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        padding: 12px;
    }

}
  
  
